body {
    display: flex;
    flex-direction: column;
    margin: 16px 15%;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links {

}

.header img {
    height: 48px;
}