body {
    display: flex;
    flex-direction: column;
    margin: 0px 15%;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15%;
}

.links a {
    margin: 4px;
}

.header img {
    height: 48px;
}

.section-one {
    margin: 16px 15%;
}

h1 {
    color: #F9FAF8;
}

.blue {
    background-color: #1F2937;
    width: 100vw;
    color: #E5E7EB;
}