body {
    display: flex;
    flex-direction: column;
    margin: 0px 15%;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15% 0px;
}

.links a {
    margin: 4px;
}

.header img {
    height: 48px;
}

.section-one {
    padding: 80px 15%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.section-one img {
    height: 180px;
}

.section-one button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 2px 16px;
    border-radius: 4px;
}

.section-one .container {
    max-width: 500px;
}


h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.section-one p {
    margin: 0px 0px 4px 0px;
}

.blue {
    background-color: #1F2937;
    width: 100vw;
    color: #E5E7EB;
    font-size: 18px;
}

.section-two {
    text-align: center;
    padding-bottom: 56px;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.box {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.box-holder {
    width: 150px;
    text-align: center;
}

.section-three {
    background-color: #E5E7EB;
    width: 100vw;
    padding: 56px;
}

.section-three p {
    padding: 16px 20%;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.thor {
    text-align: end;
    margin-top: -68px;
    margin-right: 16px;
    font-weight: bold;
}

.section-four .container {
    display: flex;
}

